# Authentication
AUTH_SECRET="your_super_secret_key_change_this_in_production"

# Database
DATABASE_URL="your_data_base_url"

# Redis Cache / Queue
REDIS_URL="your_redis_ur"

# Public API URL (Client-side)
NEXT_PUBLIC_API_URL="http://localhost:3000/api"